.wrap {
    height: 100%;
    overflow: auto;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

hr {
    border: 0;
    height: 0;
    /* Firefox... */
    box-shadow: 0 0 10px 1px white;
}

hr:after {
    /* Not really supposed to work, but does */
    content: "\00a0";
    /* Prevent margin collapse */
}