.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.vidContainer {
    width: 40%;
    height: auto;
}

.vidContainer2 {
    width: 55%;
    height: auto;
}

.textWrap {
    width: 60%;
}

.reSizeText {
    width: 40%;
}

.textWrap>* {
    margin-bottom: 5%;
}

.textContainer {
    display: flex;
}

.textContainer div p {
    font-size: 12px;
    line-height: 18px;
}

.text {
    width: 50%;
    display: none;
}

.textWrap p {
    text-align: center;
}

.animation {
    display: block;
    animation: textAni 3s;
}


@keyframes textAni {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        gap: 0;
        height: auto;
    }
}