.header {
    color: white;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.langMenu {
    display: flex;
    gap: 0.5rem;
    flex-direction: row-reverse;
    margin: 2% auto;
}

.langMenu a {
    text-decoration: none;
    color: white;

}