.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "Form Address"
        "Footer Footer";
    padding: 2rem;

    align-items: center;
    margin: 0 auto;
}